<footer class="footer">
    <div class="footer__circle">
        <a title="return to top" href="#header">
            <img class="footer__circle__img" src="./assets/images/ico-arrow.svg" alt="arrow-icon">
        </a>
    </div>


    <nav class="footer__flex">
        <ul class="footer__flex__pages">
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Zapatillas</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Ropa</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Niño/a</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Destacados</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Tips</li>
            </a>
        </ul>
        <ul class="footer__flex__social">
        
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Twitter</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Instagram</li>
            </a>
            <a title="redirect to Adalab website" href="https://adalab.es/">
                <li>Youtube</li>
            </a>
        </ul>
        <div class="footer__flex__logo">
            <p>©2023</p>
            <p>We &#128147; run</p>
        </div>

    </nav>

</footer>