
<footer class="footer">
    <div class="footer__circle">
        <img class="footer__circle__img" src="./assets/images/ico-arrow.svg" alt="arrow-icon">
    </div>
    
    <div class="footer__flex">
        <ul class="footer__flex__pages">
        <li>zapatillas</li>
        <li>ropa</li>
        <li>niño/a</li>
        <li>destacados</li>
        <li>tips</li>
    </ul>
    <ul class="footer__flex__social">
    
        <li>twitter</li>
        <li>instagram</li>
        <li>youtube</li>
    </ul>
    <div class="footer__flex__logo">
        <p>©2023</p>
        <p>we ❤︎ run</p>
    </div>

    </div>

</footer>