<footer class="footer">
    <div class="footer__circle">
        <a href="#header">
            <img class="footer__circle__img" src="./assets/images/ico-arrow.svg" alt="arrow-icon">
        </a>
    </div>


    <div class="footer__flex">
        <ul class="footer__flex__pages">
            <a href="https://adalab.es/">
                <li>zapatillas</li>
            </a>
            <a href="https://adalab.es/">
                <li>ropa</li>
            </a>
            <a href="https://adalab.es/">
                <li>niño/a</li>
            </a>
            <a href="https://adalab.es/">
                <li>destacados</li>
            </a>
            <a href="https://adalab.es/">
                <li>tips</li>
            </a>
        </ul>
        <ul class="footer__flex__social">
        
            <a href="https://adalab.es/">
                <li>twitter</li>
            </a>
            <a href="https://adalab.es/">
                <li>instagram</li>
            </a>
            <a href="https://adalab.es/">
                <li>youtube</li>
            </a>
        </ul>
        <div class="footer__flex__logo">
            <p>©2023</p>
            <p>we &#128147 run</p>
        </div>

    </div>

</footer>