<header class="header" id="header">

  <nav class="header__menu">

    <a title="redirect to Adalab website" href="https://adalab.es/">
      <img class="header__menu__icon" src="./assets/images/ico-menu.svg" alt="menu-icon"></a>

    </nav>

  <h1 class="header__h1">Hasta un 50% de descuento</h1>
  <p class="header__p">Ya estan aquí las ofertas de fin de temporada</p>

  <a title="go to bottom section" href="#section__grey">
    <div class="header__arrow">
      <img class="header__arrow__img" src="./assets/images/arrow.svg" alt="arrow-icon">
      </div>
  </a>


</header>