<main>
    <section class="section__white">
        <p class="section__white__p-title">Los sentimientos nos inspiran</p>

        <h2 class="section__white__h2">Conecta Contigo</h2>

        <p class="section__white__p">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la
            libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos
            hace sentir.</p>

        <button class="section__white__btn" type="button">Comprar</button>

    </section>

    <section id="section__grey" class="section__grey">

        <h2 class="section__grey__h2">Año nuevo, movimientos nuevos</h2>
<div class="section__grey__grid">

    <div class="section__grey__elements">
        <h3 class="section__grey__h3">Entrenamientos</h3>
        <p class="section__grey__p">Sesiones de running y entrenamientos.</p>
    </div>
    <div class="section__grey__elements">
        <h3 class="section__grey__h3">Cualquier nivel</h3>
        <p class="section__grey__p">Entrenamientos para cada nivel.</p>
    </div>
    <div class="section__grey__elements">
        <h3 class="section__grey__h3">Exclusividad</h3>
        <p class="section__grey__p">Productos para miembros premium.</p>
    </div>
</div>
    <button class="section__grey__btn">Empezar ahora</button>
    </section>



</main>