/* mixin - title style */
@mixin header_style {
    color: $color-white;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: normal;
}

/* mixin - breakpoints responsive*/
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1000px) {
        @content;
    }
}