// fonts
$font-main-title: 'Roboto Slab', serif;
$font-general: 'Roboto', sans-serif;

// colors
$color-elements: #f26002;
$color-section: #f2f2f2;
$color-footer: #4a4a4a;
$color-white: #ffff;
$color-black: #000000;

// colors
$breakpoint-tablet: 768px;
$breKpoint-desktop: 1000px;

