.footer {
    background-color: $color-footer;
    position: relative;
    padding-bottom: 20px;

    & a {
        text-decoration: none;
        color: $color-white;

        &:hover {
            color: $color-elements;
        }

        &:active {
            color: $color-black;
        }

    }


    &__flex {
        color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-general;
        font-size: 1rem;
        line-height: 1.9;
        padding: 50px 0px;

        &__logo {
                text-transform: lowercase;
            }

        @include tablet {

            flex-direction: row;
            justify-content: center;
            flex-flow: row-reverse;
            gap: 80px;
            text-align: left;
            padding: 20px 0;


            &__social {
                order: -2;

            }

            &__logo {
                font-size: 0.8rem;

            }
        }
    }

    &__circle {
        background-color: $color-white;
        border-radius: 50px;
        width: 41px;
            height: 39px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -18px;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        animation: changeColor 10s linear infinite;

        &__img {
            width: 20px;

        }
    }
}