.section__white {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 1000px) {
            margin: 20px 140px;
        }

    &__p-title {
        font-size: 0.8rem;
        font-family: $font-general;
        color: $color-elements;
    }

    &__h2 {
        font-size: 1.4rem;
        font-family: $font-main-title;
        font-weight: bold;
    }

    &__p {
        font-size: 1.2rem;
        font-family: $font-general;
        letter-spacing: normal;
        text-align: left;
        line-height: 1.6;
    }

    &__btn {
        text-decoration: none;
        font-family: $font-general;
        font-weight: 500;
        font-size: 1.3rem;
        color: $color-elements;
        background-color: $color-white;
        border-color: $color-elements;
        border-width: 3px;
        border-style: solid;
        border-radius: 35px;
        max-width: 160px;
    }
}

.section__grey {

    background-color: $color-section;
    padding: 10px 30px;

    &__grid {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 100px;

    }

    &__h2 {
        font-family: $font-main-title;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

    &__h3 {
        font-family: $font-main-title;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__p {
        font-family: $font-general;
        font-size: 1rem;
    }


}