.section__grey {

    background-color: $color-section;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        padding: 40px 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 100%;
        padding: 20px 50px;
        gap: 40px;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;

        @include tablet {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 1fr;

        }
    }


    &__h2 {
        font-family: $font-main-title;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        padding: 30px 50px;
        text-align: center;
    }

    &__h3 {
        font-family: $font-main-title;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__p {
        font-family: $font-general;
        font-size: 1.1rem;
        padding-top: 10px;
        line-height: 1.4;
    }

    &__btn {
        font-family: $font-general;
        font-weight: 500;
        font-size: 1.3rem;
        color: $color-white;
        background-color: $color-elements;
        border-color: $color-elements;
        border-width: 3px;
        border-style: solid;
        border-radius: 23px;
        padding: 5px 5px;
        margin-bottom: 50px;
        transition: all 500ms ease-in-out;

        &:hover {
            transform: scale(1.5);
        }
    }

}